---
import FlightApp from '../components/FlightApp.jsx';
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <title>DSP Checklist</title>
  </head>
  <body>
    <FlightApp client:load />
  </body>
</html>
